open-code/
data/
images/
hico_data
.conda/
.ipynb_checkpoints/
*.html
*.jpg
*.pdf
# Ignore all compiled python files
*.pyc
*.pkl
*.png
*/powerpoint/*
*.DS_Store
Pansharpening-Toolbox-for-Distribution(1)/